/* global stuff */
body {
    font-family: 'Roboto Mono', monospace;
}

a {
    text-decoration: none;
}
/* --------------------------------- */

/* sidebar menu for mobile */
div#menu {
    display: none;
}

button#menuToggle {
    display: none;
}
/* --------------------------------- */

/* left side of nav- headline, links, and socials */
div#nav {
    display: flex;
    align-items: center;
    background: white;
    z-index: 99;
    top: 0px;
    width: 100vw;
    height: 100vh;
    transition: 1s;
    overflow: hidden;
}

div#navLeft {
    width: 30vw;
    height: auto;
    text-align: center;
}

div#navLeft img#avi {
    height: 200px;
    transition: height 1s;
    border-radius: 50%;
    margin: auto;
    padding-bottom: 20px;
}

div#navLeft h1 {
    margin: auto;
    font-size: 20pt;
}

div#secondaryHeaders {
    margin: 20px;
    font-size: 10pt;
}

div#navLinks {
    margin: 30px 15px;
} 

div#navLeft ul {
    list-style-type: none;
    padding-left: 0px;
}

div#navLeft li {
    margin: 30px auto 30px auto;
}

div#navLeft div#navLinks a.navLink {
    text-transform: uppercase;
    text-align: center;
    color: #000;
    line-height: 1;
    padding: 10px;
    font-size: 12pt;
}

div#navLeft div#navLinks a#resLink {
    /* transition: all .5s ease; */
    background-color: #000;
    color: #fff;
    border: 3px solid black;
    outline: none;
    border-radius: 8px;
}

div#navLeft div#navLinks a#resLink:hover {
    background-color: #fff;
    color: #001F3F;
    border: 3px solid black;
    transition: 0.5s;
    
}

div#socials {
    margin: auto;
}

div#socials a {
    background: antiquewhite;
    color: #000;
    font-size: 22px;
    border-radius: 50%;
    padding: 12px;
    width:12px;
    height:12px;
}

div#socials a.fa:hover {
    opacity: 0.2;
}
/* --------------------------------- */


/* right side of nav */
div#navRight {
    width: 70vw;
    text-align: center;
}

div#navRight p {
    width: 70%;
    margin: auto;
}
/* --------------------------------- */

/* main content section */
div#main {
    margin: 0;
}

div.section {
    height: 100vh;
    margin: 0;
}

div#bio {
    background-color:seashell;
}

div#skills {
    background-color:olivedrab;
}

div#projects {
    background-color:gainsboro;
    text-align: center;
    margin: 0 auto;
}
